In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/noshowappointments/KaggleV2-May-2016.csv

In [2]:
df_original = pd.read_csv("/kaggle/input/noshowappointments/KaggleV2-May-2016.csv")
df_original.shape

(110527, 14)

In [3]:
df_original.isna().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [4]:
df = df_original.copy()
df.shape

(110527, 14)

In [5]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [6]:
#Applying snake_case to columns

df.columns = (
    df.columns
    .str.replace(r"([a-z0-9])([A-Z])", r"\1_\2", regex=True)
    .str.replace(r"[^\w]+", "_", regex=True)
    .str.lower()
)


df.head()

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no_show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [7]:
df['patient_id'].apply(type).value_counts()

patient_id
<class 'float'>    110527
Name: count, dtype: int64

In [8]:
df['patient_id'][0]

np.float64(29872499824296.0)

In [9]:
#checking if decimal point patient_id exist or not!!?

decimal_point_check = df['patient_id'] % 1 != 0

df.loc[decimal_point_check, 'patient_id']

3950       93779.52927
73228     537615.28476
73303     141724.16655
100517     39217.84439
105430     43741.75652
Name: patient_id, dtype: float64

In [10]:
#converting all patient_id from numerical to categorical

df["patient_id"] = df["patient_id"].astype(str).astype("category")

df['patient_id'].dtype

CategoricalDtype(categories=['11111462625267.0', '111124532532143.0', '11114485119737.0',
                  '11116239871275.0', '1111633122891.0', '11118512139.0',
                  '1111852391322.0', '1111959957929.0', '11123782868353.0',
                  '11126622512729.0',
                  ...
                  '999946536742891.0', '99994953287696.0', '9999525288725.0',
                  '999954269492.0', '99995473196253.0', '999968578354866.0',
                  '9999737245272.0', '999981631772427.0', '9999951146446.0',
                  '99999967293459.0'],
, ordered=False, categories_dtype=object)

In [11]:
df['appointment_id'].dtype

dtype('int64')

In [12]:
#converting all appointment_id to categorical

df['appointment_id'] = df['appointment_id'].astype('category')

In [13]:
df['appointment_id'].dtype

CategoricalDtype(categories=[5030230, 5122866, 5134197, 5134220, 5134223, 5134224,
                  5134227, 5134228, 5134233, 5134239,
                  ...
                  5790377, 5790416, 5790434, 5790447, 5790452, 5790461,
                  5790464, 5790466, 5790481, 5790484],
, ordered=False, categories_dtype=int64)

In [14]:
df['appointment_id'].duplicated().value_counts()

appointment_id
False    110527
Name: count, dtype: int64

In [15]:
cols = ['scholarship', 'hipertension', 'diabetes', 'alcoholism', 'handcap', 'sms_received']

df[cols] = df[cols].astype(bool)

In [16]:
df['scholarship'].dtype

dtype('bool')

In [17]:
df = df.rename(columns ={'handcap': 'handicap'})

df.head()

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handicap,sms_received,no_show
0,29872499824296.0,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,False,True,False,False,False,False,No
1,558997776694438.0,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,False,False,False,False,False,False,No
2,4262962299951.0,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,False,False,False,False,False,False,No
3,867951213174.0,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,False,False,False,False,False,False,No
4,8841186448183.0,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,False,True,True,False,False,False,No

In [18]:
df.head()

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handicap,sms_received,no_show
0,29872499824296.0,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,False,True,False,False,False,False,No
1,558997776694438.0,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,False,False,False,False,False,False,No
2,4262962299951.0,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,False,False,False,False,False,False,No
3,867951213174.0,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,False,False,False,False,False,False,No
4,8841186448183.0,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,False,True,True,False,False,False,No

In [19]:
df['gender'].value_counts()

gender
F    71840
M    38687
Name: count, dtype: int64

In [20]:
df['age'].unique()

array([ 62,  56,   8,  76,  23,  39,  21,  19,  30,  29,  22,  28,  54,
        15,  50,  40,  46,   4,  13,  65,  45,  51,  32,  12,  61,  38,
        79,  18,  63,  64,  85,  59,  55,  71,  49,  78,  31,  58,  27,
         6,   2,  11,   7,   0,   3,   1,  69,  68,  60,  67,  36,  10,
        35,  20,  26,  34,  33,  16,  42,   5,  47,  17,  41,  44,  37,
        24,  66,  77,  81,  70,  53,  75,  73,  52,  74,  43,  89,  57,
        14,   9,  48,  83,  72,  25,  80,  87,  88,  84,  82,  90,  94,
        86,  91,  98,  92,  96,  93,  95,  97, 102, 115, 100,  99,  -1])

In [21]:
#impossible age validation

age_valid_mask = (df['age'] >= 0) & (df['age'] <= 120)
df['age_valid'] = age_valid_mask.astype(bool)

In [22]:
df.head()

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handicap,sms_received,no_show,age_valid
0,29872499824296.0,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,False,True,False,False,False,False,No,True
1,558997776694438.0,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,False,False,False,False,False,False,No,True
2,4262962299951.0,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,False,False,False,False,False,False,No,True
3,867951213174.0,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,False,False,False,False,False,False,No,True
4,8841186448183.0,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,False,True,True,False,False,False,No,True

In [23]:
df['age_valid'].value_counts()

age_valid
True     110526
False         1
Name: count, dtype: int64

In [24]:
df['scheduled_day'].apply(type).value_counts()

scheduled_day
<class 'str'>    110527
Name: count, dtype: int64

In [25]:
#fixing datatype of scheduled_day
df['scheduled_day'] = pd.to_datetime(df['scheduled_day'])

df['scheduled_day'].dtype

datetime64[ns, UTC]

In [26]:
df['appointment_day'].apply(type).value_counts()

appointment_day
<class 'str'>    110527
Name: count, dtype: int64

In [27]:
df['appointment_day'] = pd.to_datetime(df['appointment_day'])

df['appointment_day'].dtype

datetime64[ns, UTC]

In [28]:
#days between schedule and appointment

df['days_between_schedule_and_appointment'] = (
    (df['appointment_day'] - df['scheduled_day']).dt.days
)

df.head()

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handicap,sms_received,no_show,age_valid,days_between_schedule_and_appointment
0,29872499824296.0,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,False,True,False,False,False,False,No,True,-1
1,558997776694438.0,5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,False,False,False,False,False,False,No,True,-1
2,4262962299951.0,5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,False,False,False,False,False,False,No,True,-1
3,867951213174.0,5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,False,False,False,False,False,False,No,True,-1
4,8841186448183.0,5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,False,True,True,False,False,False,No,True,-1

In [29]:
df['days_between_schedule_and_appointment'].value_counts()

days_between_schedule_and_appointment
-1      38563
 1       6725
 3       5290
 0       5213
 6       4906
        ...
-7          1
 131        1
 116        1
 145        1
 122        1
Name: count, Length: 131, dtype: int64

In [30]:
df['same_day_appointment'] = (df['days_between_schedule_and_appointment'] == -1)


df.head()

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handicap,sms_received,no_show,age_valid,days_between_schedule_and_appointment,same_day_appointment
0,29872499824296.0,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,False,True,False,False,False,False,No,True,-1,True
1,558997776694438.0,5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,False,False,False,False,False,False,No,True,-1,True
2,4262962299951.0,5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,False,False,False,False,False,False,No,True,-1,True
3,867951213174.0,5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,False,False,False,False,False,False,No,True,-1,True
4,8841186448183.0,5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,False,True,True,False,False,False,No,True,-1,True

In [31]:
df['appointment_date_valid'] = (df['days_between_schedule_and_appointment'] >= -1)

df.head()

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handicap,sms_received,no_show,age_valid,days_between_schedule_and_appointment,same_day_appointment,appointment_date_valid
0,29872499824296.0,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,False,True,False,False,False,False,No,True,-1,True,True
1,558997776694438.0,5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,False,False,False,False,False,False,No,True,-1,True,True
2,4262962299951.0,5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,False,False,False,False,False,False,No,True,-1,True,True
3,867951213174.0,5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,False,False,False,False,False,False,No,True,-1,True,True
4,8841186448183.0,5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,False,True,True,False,False,False,No,True,-1,True,True

In [32]:
df.sample(n=100, random_state=42).to_csv(
    "Medical Appointments No-Shows Cleaned_sample.csv",
    index=False
)